{% extends 'base.html'%} {% block 'title'%} homePage {% endblock%} {% block 'css'%}
<style type="text/css">
    body {
        background-color: rgb(233, 240, 238);
    }
</style>
{% endblock%} {% block 'content'%}
<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <form action="" method="post" novalidate>
                {%csrf_token%} {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </form>
        </div>
    </div>
    <a href="{% url 'home' %}" class="btn btn-link">Go back</a>
</div>
{% endblock%} {% block 'js'%}
<script type="text/javascript">
</script>
{% endblock%}